[Unit]
Description=Update podman multiarch images

[Service]
Type=oneshot
PIDFile=/run/user/%U/update-bootc-multiarch.pid
ExecStart=%h/bin/update-bootc-multiarch
RemainAfterExit=yes
