[Unit]
Description=Update podman multiarch images

[Service]
Type=oneshot
PIDFile=/run/user/%U/update-containers.pid
ExecStart=%h/bin/update-containers
RemainAfterExit=yes
