# Pipeline to use.
# To build a OCI container image use 'podman' or 'docker' which are synonymous.
# If you want to use the generic pipeline use "generic"
PIPELINE="generic"

# Architectures to build ("arch1" "arch2" ...)
ARCHES=()

# Remote build hosts.
# If empty: Uses quemu-static for the build if the requested architecture
# is not the same as the host.
# The remotes have to be set up as system connections in Podman and use their
# 'friendly' names here.
AMD64_REMOTE="" # x86_64 build host
ARM64_REMOTE="" # aarch64 build host
RISCV64_REMOTE="" # riscv64 build host

# Custom build script to run relative to project root (like ".simple-ci/script.sh")
# If unset the build containers default entrypoint will be used.
BUILDSCRIPT=""
SCRIPT_ARGS=""

# Build container to use.
# Default if unset: docker.io/dirk1980/simple-ci-generic:latest
RUNNER="docker.io/dirk1980/simple-ci-generic:latest"

# Mount an 'output' directory
# Host directory relative to ${HOME}
OUTPUT_DIR=""
OUTPUT_MOUNT=""
