# Pipeline to use.
# To build a OCI container image use 'podman' or 'docker' which are synonymous.
# If you want to use the generic pipeline use "generic".
PIPELINE="podman"

# Tagh to build
TAG="latest"

# Architectures to build for
ARCHES=() # Architectures to build ("arch1" "arch2" ...)

# Image layer squashing
SQUASH="false"

# Disable build cache?
DISABLE_CACHE="false"

## Image encryption
# Encrypt the image (must be supported by registry)
ENCRYPT="false" # Encrypt the image before pushing it to the server
# Key for encryption
ENCRYPT_KEY=""

## Image sicgnature
SIGN="true" # Sign the image

## Embedding root ssh keys
EMBED_KEYS="false"
SSH_KEYFILE=""

# Containerfile to use if not Containerfile or Dockerfile
CONTAINERFILE=""

# Additional Build Arguments (this is an array).
BUILD_ARGS=()

# Repostory namespace
REG_USER=""

# Registry address (only the domain name)
REG_ADDR=""

# Push image to regiostry after Build
UPLOAD="true"

## Remote build hosts.
# If empty: Uses quemu-static for the build if the requested architecture
# is not the same as the host.
# The remotes have to be set up as system connections in Podman and use their
# 'friendly' names here.
AMD64_REMOTE=""
ARM64_REMOTE=""
RISCV64_REMOTE=""
